<main class="flex flex-col items-center min-h-screen bg-gray-100">
  <div class="w-full max-w-5xl bg-white p-6">
    <nav class="flex justify-center gap-4 mb-6">
      <a
        class="menu-item px-4 py-2 text-lg font-semibold text-blue-600 hover:bg-blue-600 hover:text-white rounded transition"
        [routerLink]="['/choropleth']"
        routerLinkActive="active"
        >Choropleth</a
      >
      <a
        class="menu-item px-4 py-2 text-lg font-semibold text-blue-600 hover:bg-blue-600 hover:text-white rounded transition"
        [routerLink]="['/heatmap']"
        routerLinkActive="active"
        >Heatmap</a
      >
    </nav>
    <nav class="flex justify-center gap-4 mb-6">
      <a
        class="menu-item px-4 py-2 text-lg font-semibold text-blue-600 hover:bg-blue-600 hover:text-white rounded transition"
        [routerLink]="['/choropleth-playback']"
        routerLinkActive="active"
        >Choropleth playback</a
      >
    </nav>
    <router-outlet></router-outlet>
  </div>
</main>
