<app-demo-layout titleText="Heatmap component properties">
  <div dataset>
    <label for="dataset">Selected dataset:</label>
    <select id="dataset" [(ngModel)]="selected" (change)="onFetchData()">
      @for(option of EXAMPLES; track option) {
        <option [value]="option">{{ option }}</option>
      }
    </select>
  </div>

  <div controls>
    <div class="field">
      <label for="blur">Blur:</label>
      <input id="blur" [(ngModel)]="blur" type="range"/>
    </div>

    <div class="field">
      <label for="radius">Radius:</label>
      <input id="radius" [(ngModel)]="radius" type="range"/>
    </div>

    <div class="field">
      <label for="centerX">Center X:</label>
      <input id="centerX" [(ngModel)]="center[0]" (ngModelChange)="updateCenterX($event)" type="text" placeholder="Enter center x"/>
    </div>
    <div class="field">
      <label for="centerY">Center Y:</label>
      <input id="centerY" [(ngModel)]="center[1]" (ngModelChange)="updateCenterY($event)" type="text" placeholder="Enter center Y"/>
    </div>

    <div class="field">
      <label for="zoom">Zoom:</label>
      <input id="zoom" [(ngModel)]="zoom" type="text" placeholder="Enter zoom"/>
    </div>
  </div>

  <app-heatmap
    map
    [data]="data"
    [blur]="blur"
    [radius]="radius"
    [center]="center"
    [zoom]="zoom"
  />
</app-demo-layout>
